body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
  text-align: center;
}

header {
  background: blue;
  color: white;
  padding: 50px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}